/***** STARTER CODE - DO NOT CHANGE *****/

html{
  scroll-behavior: smooth;
}

body{
  background-color: #737373;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color:white;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav{
  background-color: #ddd;
  padding: 25px 10px;;    
  text-align: left;   
}

nav a{
  color: black;
  font-weight: bold;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  margin-right: 5%;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.text{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}

footer{
  background-color: black;
  color: white;
  padding: 15px 0;
  text-align: center;
}

footer a,
footer a:visited{
  color: white;
}
/*****  End Starter Code ****/

/* Requirement 1 code here*/

/* Requirement 2 code here*/



a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  /* Requirement 3 code here*/
  
}


/* Requirement 4 code here*/


.container{
  /* Requirement 5 code here*/

}

/* Requirements 6-10 here: */



@media screen and (min-width: 700px){
  nav{
    padding-top: 35px;
    /*Requirement 11*/

  }

  nav li{
    margin-left: 5%;
    margin-right:0;
  }

  
  /* Requirements 12-15 here: */

}






/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
@media screen and (prefers-reduced-motion: reduce){
  /*Turn off scroll*/
  html{
    scroll-behavior: auto; /* Removes scroll animation */
  }

  /*Turn off transition*/
  a.skip {
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }

  /*Turn off parallax*/
  .intro{
    background-attachment: initial;
  }
}
